@import "tailwindcss";

/* Optional custom styles */
body {
  background: linear-gradient(to bottom, #fed7aa, #fef3c7); /* same as from-orange-200 to-yellow-100 */
  font-family: 'Inter', sans-serif;
  touch-action: manipulation;
}
